
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_BurgerLayout.cshtml";
}

<head>
    <!-- Template Main CSS File -->
    <link href="~/GoldenTemp/assets/css/main.css" rel="stylesheet">
</head>
<body>
    <div class="fullscreen-bg">
        <video loop muted autoplay poster="images/background.jpg" class="fullscreen-bg__video">
            <source src="~/HamburgerGirisEkrani.mp4" type="video/mp4">
        </video>
    </div>
    <div>
        <!-- ======= Chefs Section ======= -->
        <section id="chefs" class="chefs section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>Chefs</h2>
                    <p>Our <span>Proffesional</span> Chefs</p>
                </div>

                <div class="row gy-4">

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="chef-member">
                            <div class="member-img">
                                <img src="~/GoldenTemp/assets/img/chefs/kaanbinici.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href="https://www.instagram.com/kaann.binici/" target="_blank"><i class="bi bi-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/kaanbinici/" target="_blank"><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Kaan Binici</h4>
                                <span>Master Chef</span>
                                <p>Yıllarımızı verdik biz bu işe.</p>
                            </div>
                        </div>
                    </div><!-- End Chefs Member -->

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="chef-member">
                            <div class="member-img">
                                <img src="~/GoldenTemp/assets/img/chefs/aysenur.jpeg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href="https://www.instagram.com/aysenurkrcy/"><i class="bi bi-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/ay%C5%9Fenur-kara%C3%A7ay-6493a127b/"><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Ayşenur Karaçay</h4>
                                <span>Master Chef</span>
                                <p>Göl Maya Tutar mı Kardeş ?</p>
                            </div>
                        </div>
                    </div><!-- End Chefs Member -->

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                        <div class="chef-member">
                            <div class="member-img">
                                <img src="~/GoldenTemp/assets/img/chefs/mertcan.jpg" class="img-fluid" alt="">
                                <div class="social">

                                    <a href="https://www.instagram.com/mertcanzgr/"><i class="bi bi-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/mertcan-ozgur-113a56158/"><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Mertcan Özgür</h4>
                                <span>Master Chef</span>
                                <p>Ekmek Parasına Buradayız.</p>
                            </div>
                        </div>
                    </div><!-- End Chefs Member -->

                </div>

            </div>
        </section><!-- End Chefs Section -->

    </div>
   

</body>

